html {
  overflow: hidden !important; /* Hide scrollbars */
}

.v-application {
  font-family: AbeeZee !important;
}

/* .v-text-field.v-text-field--solo .v-label {
  top: calc(50% - 9.6px);
} */

.v-text-field.v-text-field--enclosed.v-text-field--single-line
  .v-text-field__prefix,
.v-text-field.v-text-field--enclosed.v-text-field--single-line
  .v-text-field__suffix {
  margin-top: 2px !important;
}
*:focus {
  outline: none;
}
.nopadsp > div > div {
  padding: 0 !important;
}
.max-width {
  width: 100%;
}
.toasted {
  font-family: AbeeZee;
}
